/* FONT STYLE */




/*reset global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===========================*/
      /*réglages globaux*/
/* ===========================*/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
  /* background: rgb(0,0,0); */
  /* background: linear-gradient( black 0%, black 40%, rgb(121, 118, 119) 55%, rgb(175, 172, 173) 65%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); */
  
  font-size: 16px;
}
main{
  min-height: 100vh ;
}
h1, h2, h3{
  margin-bottom: 20px;
}
h1{
  font-size: 1.4rem;
  text-align: center;
}
h2{
  font-size: 1.2rem;
}
section{
  margin-bottom: 30px;
}
.container{ 
max-width: 1200px;
margin: 0 auto;

}
/* ===========================*/
    /* Section header */
/* ===========================*/

header{
    position:relative;
    min-height: 45px;
    /* background-color: white; */
}

.head-content{
    display: flex;
}

/******** BURGER *************/

#burger-link{
  margin-top: 10px;
  padding-left: 10px;
  position: relative;
  z-index: 3;
}

#burger {
  
  width:25px;
  height:3px;
  background:black;
  display:inline-block;
  position:relative;
  border-radius: 50px;
  margin-top: 20px;
}
#burger::before,
#burger::after {
  content:'';
  width:25px;
  height:3px;
  background:black;
  display:inline-block;
  position:absolute;
  transform-origin: center;
  transition: all 0.3s ease;
  border-radius: 50px;
  
}
#burger::before {
  top:-7px;
}
#burger::after {
  top:7px;
}

#burger.display {
  background:transparent;
}

/* transform burger en croix */
#burger.display::before {
  transform: rotate(45deg);
  top:0;
  background-color: white;
 
}
#burger.display::after {
  transform: rotate(-45deg);
  top:0;
  background-color: white;
  
}

/* mise en page du menu */
#menu-head ul {
  background:rgba(0, 0, 0, 0.8);
  position:absolute;
  width:100%;
  left:0;
  top:0;
  padding-top:60px;
  transform:scaleY(0);
  transform-origin:center top;
  transition:all 0.3s ease;
  z-index: 2;
}
/* Ouverture du menu de haut en bas*/
#menu-head ul.display {
  transform:scaleY(1);
}
#menu-head ul li {
  padding:8px 0;
  text-align:center
}
#menu-head ul li a {
  color: white;
}

/* Bloc Logo */

#logo-header{
  position: absolute;
  width: 100%;
 
  /* transform: translate(-50% , -60%); */
}
.logo{
  width: 100%;
 font-size: 2rem;
 font-family: 'Metal Mania', cursive;
 color: rgb(0, 0, 0);
 text-shadow: 0 0 4px white;
 text-align: center;

 /* -webkit-text-stroke:1px black; */
}
/* #logo-header.display p{
  color: rgba(0, 0, 0, 0.562);   
 } */

/* ========================================*/
      /* page home */
/* ========================================*/

/* Banner pour mobile */
.mobile-banner{
  margin-bottom: 30px;
  width: 100%;
}
.mobile-banner img{
  width: 100%;
}

/* section intro-home */

#intro-home{
  padding: 20px;
}

/* Section photo membres du groupe */
#band-members{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#band-members h2{
  width: 100%;
  text-align: center;
  
}
#band-pictures{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.band-picture{
  position: relative;
  margin-bottom: 10px;
 
}
.band-picture .member-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -60%);
  color: white;
  font-weight: bold;
  text-align: center;
  display: none;
}
.band-pic img{
  width: 100%;
}
.band-pic{ 
  width: 150px;
	height: 150px;
	border-radius: 50%;
	text-decoration: none;
 
}
.band-picture:hover .band-pic{
  border: 75px solid rgb(0, 0, 0);
  transition: 0.2s ease;
}
.band-picture:hover .member-info{
  display: block;
 
}

.band-cards{
  margin-bottom: 20px;
  text-align: center;
  /* background-color: rgb(197, 0, 0); */
  width: 250px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 8px;
}

/* ========================================*/
      /* page Login */
/* ========================================*/
#login-page, #newAccount-page{
  background-color: #f2f2f2;

}

.login-title{
  padding-top: 25px;
  text-align: center;
  margin-bottom: 25px;

}
.login-error{
  color: red;
  font-weight: bold;
  margin-top: 15px;
}

#login-content{
 padding-bottom: 50px;
}
#login-content h1{
  margin-bottom: 5px;
}

.login-box{
  background-color: white;
  width: 90%;
  padding: 15px 15px;
  margin: 0 auto;
  
}
.form-login{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-login input{
 margin-bottom: 10px;
 height: 30px;
 padding-left: 5px;
 box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
 border: none;
}
.form-login input:focus{
 background-color: rgb(11, 163, 223);
 box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
 border: none;
 color: white;
}

.form-login button{
  width: 200px;
  height: 30px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: rgb(6, 113, 155);
  color: white;
  border: none;
  font-size: 14px;
 
}
.form-login button:hover{
  background-color: rgb(11, 163, 223);
  cursor:pointer;
}

.separator{
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.separator:before {
  border-top: 2px solid rgb(6, 113, 155);
  content:"";
  margin: 0 auto; 
  position: absolute; 
  top: 50%; left: 0; right: 0; bottom: 0;
  width: 95%;
  z-index: -1;
}
.circle-text{
  background-color: #d7d7d7;
  padding: 12px 11px;
  border-radius: 50%;
  color: #5f5f5f;
  font-weight: bold;
}

.login-title .blue-button{
  display: block;
  width: 200px;
  height: 30px;
  margin: 25px auto;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(6, 113, 155);
  color: white;
  font-size: 14px;
 
}
.login-title .blue-button:hover{
  background-color: rgb(11, 163, 223);
  cursor:pointer;
}
/* ========================================*/
      /* footer */
/* ========================================*/
footer{
  background-color: red;
}

.footer-banner img{
  width: 100%;
  
}
/* .footer-banner .logo{
  position: absolute;
  width: 100%;
  bottom: 15px;
  text-align: center;
  z-index: 2;
  
} */